#=================================
# PROJECT SETTINGS FOLDER:
#=================================
/.idea/

#=================================
# COMPILED FILES:
#=================================
/target/
*.class

#=================================
# PACKAGE FILES:
#=================================
*.jar
*.war
*.ear

#=================================
# .IML FILES:
#=================================
*.iml